.cp-banner {
  background-color: #f1f0f8;
  &__background {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../img/banner.jpg);
    min-height: 100vh;
  }

  &__wrap {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    & > img {
      position: absolute;

      &:nth-child(1) {
        animation: moveUpDown 2.2s infinite;
        left: 18%;
        top: 12%;
      }
      &:nth-child(2) {
        animation: moveUpDown 2s infinite;
        left: 20%;
        top: 36%;
      }
      &:nth-child(3) {
        animation: moveUpDown 2.7s infinite;
        top: 12%;
        right: 22%;
      }
      &:nth-child(4) {
        animation: moveUpDown 2.4s infinite;
        right: 18%;
        top: 36%;
      }
    }
  }

  h1 {
    z-index: 1;
    max-width: 910px;
  }

  b {
    color: #010101;
    text-align: center;
    font-family: Amulya;
    font-size: 89.236px;
    font-style: normal;
    font-weight: 500;
    line-height: 113.023%; /* 100.858px */
    letter-spacing: -4.908px;
    text-transform: uppercase;
  }
  span {
    color: #6e00ff;
    font-family: Amulya;
    font-size: 89.236px;
    font-style: normal;
    font-weight: 500;
    line-height: 113.023%; /* 100.858px */
    letter-spacing: -4.908px;
    text-transform: uppercase;
  }
}

/* Визначення анімації з назвою "moveUpDown" */
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(
      0
    ); /* Початкове і кінцеве положення - нульовий зсув */
  }
  50% {
    transform: translateY(
      -5px
    ); /* Положення на середині анімації - зсув вгору на 5 пікселів */
  }
}
