@import "./mixin";

.cp-banner {
  background-color: #f1f0f8;
  &__background {
    background-position: center;
    background-size: contain;
    background-image: url(../img/banner.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    @include md-max {
      min-height: calc(100vh - 70px);
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    @include sm-max {
      padding-top: 70px;
    }
    & > img {
      position: absolute;

      &:nth-child(1) {
        animation: moveUpDown 2.2s infinite;
        left: 0;
        top: 120px;
      }
      &:nth-child(2) {
        animation: moveUpDown 2s infinite;
        left: 50px;
        top: 380px;
      }
      &:nth-child(3) {
        animation: moveUpDown 2.7s infinite;
        top: 120px;
        right: 50px;
      }
      &:nth-child(4) {
        animation: moveUpDown 2.4s infinite;
        right: 0;
        top: 380px;
      }
    }
  }

  h1 {
    z-index: 1;
    max-width: 910px;
  }

  b {
    color: #010101;
    text-align: center;
    font-family: Amulya;
    font-size: 89.236px;
    font-style: normal;
    font-weight: 500;
    line-height: 113.023%; /* 100.858px */
    letter-spacing: -4.908px;
    text-transform: uppercase;
    @include lg-max {
      font-size: 69px;
    }
    @include sm-max {
      font-size: 49px;
    }
  }
  span {
    color: #6e00ff;
    font-family: Amulya;
    font-size: 89.236px;
    font-style: normal;
    font-weight: 500;
    line-height: 113.023%; /* 100.858px */
    letter-spacing: -4.908px;
    text-transform: uppercase;

    @include lg-max {
      font-size: 69px;
    }
    @include sm-max {
      font-size: 49px;
    }
  }
}

/* Визначення анімації з назвою "moveUpDown" */
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(
      0
    ); /* Початкове і кінцеве положення - нульовий зсув */
  }
  50% {
    transform: translateY(
      -5px
    ); /* Положення на середині анімації - зсув вгору на 5 пікселів */
  }
}
