.cp-dream {
  &__wrap {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    @include lg-max {
      margin: 80px 0;
    }
    @include md-max {
      margin: 60px 0;
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      max-width: 576px;
    }
  }
  &__arrow {
    margin-bottom: 16px;
    display: flex;
    gap: 12px;
  }
  &__swiper {
    position: relative;
  }
  &__info {
    height: 100%;
    align-items: end;
    display: flex;
    justify-content: space-between;
    padding: 0 47px 37px 35px;
    background-position: center;
  }

  .swiper-button {
    display: flex;
    position: absolute;
    top: 87%;
    left: 47%;
    gap: 12px;
    &-prev {
      transform: scale(-1, 1);
    }

    &-next,
    &-prev {
      position: relative;

      margin: 0;
      right: auto;
      left: auto;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../img/arrow-swiper.svg);
        background-repeat: no-repeat;
      }
    }
  }
  &__cont {
    display: flex;
    gap: 24px;
    margin-top: 18px;
    @include md-max {
      flex-wrap: wrap;
    }
  }
  &__img {
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }
  }
  .place {
    @include md-max {
      position: absolute;
      top: 0%;
      left: 10px;
    }
  }
  .price {
    position: absolute;
    bottom: 7%;
    right: 4%;
    padding: 3px 16px 3px 16px;
    border-radius: 3.058px;
    background: rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(28.53845977783203px);
    @include md-max {
      position: absolute;
      bottom: inherit;
      right: inherit;
      top: 10%;
      left: 0;
    }
  }
  .price-2 {
    position: absolute;
    top: 7%;
    right: 4%;
    padding: 3px 16px 3px 16px;
    border-radius: 3.058px;
    background: rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(28.53845977783203px);
    color: #fff;
    font-family: Synonym;
    font-size: 18.346px;
    font-style: normal;
    font-weight: 600;
    line-height: 152.023%;
  }
}
