.cp-line {
  border-top: 0.5px solid #a9a7a7;
  border-bottom: 0.5px solid #a9a7a7;

  &__wrap {
    margin: 30px 0;
    width: 100%;
    overflow: hidden;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
    animation-play-state: running;
  }

  li {
    align-items: center;
    display: flex;
    gap: 14px;
    color: #010101;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  ul {
    display: flex;
    gap: 40px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
