.cp-line {
  border: 0.5px solid #a9a7a7;
  &__wrap {
    margin: 30px 0;
  }
  li {
    align-items: center;
    display: flex;
    gap: 14px;
    color: #010101;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  ul {
    display: flex;
    justify-content: space-around;
  }
}
