@import "./var";

.cp-services {
  &__wrap {
    display: flex;
    gap: 82px;
    margin: 100px 0;
    @include xl-max {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include lg-max {
      margin: 80px 0;
      gap: 62px;
    }
    @include md-max {
      margin: 60px 0;
      gap: 42px;
    }
  }
  &__img {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    & > div {
      overflow: hidden;
      border-radius: 10px;
      &:hover {
        img {
          transform: scale(1);
        }
      }
      img {
        @include md-max {
          width: 100%;
        }
      }
    }
    &-1 {
      z-index: 1;
    }
    &-2 {
      margin-top: 26px;
    }
    &-3 {
      border-radius: 0 !important;
      width: 170px;
      height: 118px;
      background-color: #6e00ff;
      position: absolute;
      top: 72%;
      left: -4%;
      @include md-max {
        display: none;
      }
    }
    img {
      transition: 1s;
      transform: scale(1.04);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 557px;
    width: 100%;
    @include xl-max {
      max-width: fit-content;
      text-align: center;
      align-items: center;
    }
  }

  &__value {
    display: flex;
    gap: 22px;
    margin-bottom: 8px;
  }

  &__button {
    align-items: flex-start;
    display: flex;
    gap: 18px;
    @include md-max {
      flex-direction: column;
      align-items: center;
    }
  }
  h2 {
    max-width: 470px;
    margin-bottom: 32px;
    @include xl-max {
      max-width: fit-content;
    }
  }
  p {
    max-width: 368px;
  }
  a {
    flex-shrink: 0;
  }
}
